section {
  @include screen;
  @include tucar;
  overflow-x: hidden;
  padding: 0;
  div.container-fluid {
    padding: 0 50px;
    @media only screen and (max-width: $tablet) {
      padding: 0 25px;
    }
    @media only screen and (max-width: $phone) {
      padding: 0 15px;
    }
  }
  main {
    //@include screen;
    padding-top: 130px;
    //background: #f9f9f9;
    //border-bottom: 1px solid #eaeaea;
    h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      margin: 0 auto 25px;
      max-width: 100%;
      padding: 0 25px;
      width: $desktop;
      &.lead {
        font-size: 24px;
      }
      &.phone {
        max-width: 600px;
      }
    }
    div.flexbox {
      align-items: center;
      display: flex;
      justify-content: center;
      img {
        height: 100px;
      }
    }
    div.business {
      display: inline-block;
      max-width: 400px;
      margin-right: 75px;
    }
    button {
      background: #444;
      border: 1px solid transparent;
      color: white;
      padding: 10px 50px;
      transition: all 0.2s linear;
      height: auto;
      &:hover {
        background: #333;
      }
      &.white {
        border-color: #444;
        background: white;
        color: #444;
        &:hover {
          background: rgba(#444, 0.05);
        }
      }
      font-size: 18px;
      margin: 20px 25px 0;
      height: 50px;
    }
    a {
      color: $primary;
      text-decoration: none;
      &.scroll {
        display: flex;
        justify-content: center;
        left: 0;
        position: absolute;
        bottom: 2.5vh;
        width: 50%;
        z-index: 2;
        @include animate(recolor);
        i {
          font-size: 30px;
        }
        @media only screen and (max-width: $phone) {
          width: 100%;
        }
      }
    }
    img {
      display: inline-block;
      height: 70px;
      margin-top: -30px;
    }
    @media only screen and (max-width: $container) {
      h1 {
        font-size: 28px;
        margin-bottom: 0px;
        color: #003255;
        width: auto;
      }
      p {
        opacity: 0.5;
        margin-bottom: 20px;
        width: $tablet;
        &.lead {
          font-size: 20px;
        }
      }
      button {
        height: auto;
        font-size: 14px;
        margin: 10px 20px 0;
      }
      form {
        margin: 30px auto;
        max-width: $phone;
        input,
        select {
          border: 1px solid darkgray;
          height: 40px;
          padding: 0 10px;
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        button {
          background: $primary;
          height: 40px;
          margin: 0;
          padding: 0;
          width: 100%;
          &:hover {
            background: $hover;
          }
        }
        &.faq {
          @include shadow;
          margin-left: 0;
          margin-bottom: 0;
          display: flex;
          button {
            background: white;
            border: 1px solid #eaeaea;
            color: black;
            height: 48px;
            margin: 0;
            width: auto;
            i {
              font-size: 20px;
            }
            &:first-child {
              border-right: none;
              padding-left: 30px;
            }
            &:last-child {
              border-left: none;
              padding-right: 20px;
              padding-left: 0px;
            }
          }
          input {
            border-color: #eaeaea;
            border-left: none;
            font-size: 14px;
            height: 48px;
            margin: 0;
            outline: none;
            padding-top: 5px;
            &:not(:last-child) {
              border-right: none;
            }
          }
        }
      }
      ul {
        &.query {
          @include shadow;
          background: white;
          display: flex;
          flex-direction: column;
          width: $phone;
          margin: 0;
          position: absolute;
          z-index: 5 !important;
          li {
            @include nowrap;
            cursor: pointer;
            font-size: 13px;
            padding: 13px 44px 13px 20px;
            a {
              color: inherit;
            }
            i {
              color: $active;
              font-size: 16px;
              margin-right: 28px;
              padding-left: 13px;
            }
            &:hover {
              background: #e8f0fe;
            }
          }
        }
      }
      nav {
        position: absolute;
        left: 0;
        top: 85vh;
        width: 100%;
        z-index: 1;
        div.container {
          padding: 0 25px;
          ul {
            @include shadow;
            background: white;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              font-size: 13px;
              margin: 0 35px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $tablet) {
      div.flexbox {
        justify-content: center;
        flex-wrap: wrap;
        img {
          margin: 0 10px 30px;
        }
      }
      div.business {
        width: 100% !important;
        max-width: 100%;
      }
    }
    @media only screen and (max-width: $phone) {
      padding-top: 90px;
      h1 {
        font-size: 24px;
      }
      p.lead {
        font-size: 18px !important;
        margin-bottom: 0;
      }
    }
  }
  article {
    font-size: 14px;
    padding: 80px 0;
    &.dark {
      background: $primary;
      color: white;
      * {
        color: white;
      }
    }
    h2 {
      font-size: 44px;
      color: $primary;
      margin: 0;
      text-align: center;
    }
    h3 {
      padding-bottom: 75px;
      text-align: center;
      margin: 0;
    }
    a {
      color: $primary !important;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        color: $hover !important;
      }
    }
    img {
      &.top {
        margin-bottom: 150px;
        width: 100%;
      }
    }
    div.iframe {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      iframe {
        border: none;
        height: 300px;
        max-width: 100%;
        width: $phone;
      }
      @media only screen and (max-width: $tablet) {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        img {
          display: none;
        }
        iframe {
          display: block;
          margin: 0;
          margin-top: 50px;
          width: 100%;
        }
      }
      @media only screen and (max-width: $phone) {
        div.contact {
          display: block;
          height: 325px;
        }
      }
    }
    div.cover {
      margin-top: -50px;
      height: 450px;
      background-position: top;
      background-size: cover;
      background-image: url("/images/main/santiago.jpg");
      h4 {
        color: white;
        font-size: 20px;
        padding-top: 250px;
        padding-left: 300px;
      }
      @media only screen and (max-width: $tablet) {
        h4 {
          padding-top: 350px;
          padding-left: 50px;
        }
      }
      @media only screen and (max-width: $phone) {
        margin-top: -60px;
        margin-bottom: 50px;
        h4 {
          padding-left: 25px;
        }
      }
    }
    div.team {
      height: 250px;
      width: 250px;
      background-position: top;
      background-size: cover;
      border-radius: 50%;
      &#jaime {
        background-image: url("/images/team/jaime.jpg");
      }
      &#paula {
        background-image: url("/images/team/paula.jpg");
      }
      &#nora {
        background-image: url("/images/team/nora.jpg");
      }
    }
    div.customers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img {
        margin: 0 10px 25px;
        @media only screen and (max-width: $tablet) {
          max-height: 40px;
        }
        @media only screen and (max-width: $phone) {
          max-height: 30px;
        }
      }
    }
    img.contact {
      max-height: 80px;
      margin-top: 40px;
      margin-right: 50px;
    }
    p {
      margin: 0;
      sup {
        margin: 0 5px;
        i {
          font-size: 10px;
        }
      }
      &.lead {
        padding: 0 25px;
        max-width: 100%;
        width: $desktop;
      }
    }
    .text-color {
      color: #0095ff !important;
      font-weight: bold;
    }
    .bg-gray {
      background: #f5f5f5 !important;
    }
    .bg-light {
      background: #f8f8f8 !important;
    }
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
      &.apps {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 50px auto;
        width: calc(100% - 25px);
        li {
          font-size: 30px;
          img {
            height: 35px;
            margin: 0 10px;
          }
        }
      }
      &.bars {
        li {
          @include align;
          @include shadow(1);
          border: 1px solid #ddd;
          border-radius: 10px;
          height: 75px;
          margin-bottom: 10px !important;
          padding: 0 25px;
          width: 80%;
          i {
            margin: 0;
            margin-right: 20px;
            font-size: 30px;
          }
        }
        li:not(.active):hover {
          background: rgba($primary, 0.05);
          cursor: pointer;
        }
        &.dark {
          margin-right: 0;
        }
        &.light {
          margin-left: 0;
        }
      }
      &.check {
        margin: 20px 0;
        li {
          margin: 5px 0;
          i {
            margin-right: 10px;
          }
        }
      }
      &.error {
        li {
          display: flex;
        }
      }
      &.faqs {
        background: #e8f0fe;
        border: 1px solid #eaeaea;
        border-top: none;
        li {
          &:first-child {
            align-items: center;
            background: white;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            padding: 16px 52px 16px 64px;
            i {
              color: $active;
              font-size: 12px;
            }
            &:hover {
              background: #efefef;
            }
          }
          &:not(:first-child) {
            display: none;
            font-size: 13px;
            padding: 10px 64px;
          }
          @media only screen and (max-width: $phone) {
            padding-left: 15px !important;
            padding-right: 22px !important;
            font-size: 12px;
          }
        }
        &.active {
          padding-bottom: 10px;
          li {
            &:first-child {
              background: white;
              cursor: default;
              margin-bottom: 12px;
            }
            &:not(:first-child) {
              display: flex;
              cursor: pointer;
              &:hover {
                background: #d2e3fc;
              }
            }
          }
        }
      }
      &.features {
        display: flex;
        flex-direction: column;
        li {
          display: flex;
          padding: 15px 10px 0;
          span {
            padding-left: 5px;
            width: 28px;
            i {
              color: $primary;
              font-size: 18px;
            }
          }
          p {
            font-size: 11px;
            padding: 0 5px;
            margin: 0;
            width: calc(100% - 28px);
            @include clamp(3);
          }
          &:first-child {
            text-transform: uppercase;
          }
          &.disabled {
            color: #d7d7d7;
            i {
              color: inherit;
            }
          }
          &.highlights {
            background: rgba($enabled, 0.1);
            color: $check;
            i {
              color: inherit;
            }
          }
        }
      }
      &.query {
        background: white;
        display: flex;
        flex-direction: column;
        margin: 0;
        li {
          cursor: pointer;
          display: flex;
          font-size: 13px;
          padding: 13px 64px 13px 20px;
          a {
            color: inherit;
          }
          i {
            color: $active;
            font-size: 20px;
            margin-right: 28px;
            padding-top: 5px;
          }
          p {
            @include clamp(2);
            opacity: 0.7;
          }
          div {
            border-bottom: 1px solid #dadada;
            padding-bottom: 25px;
          }
        }
      }
      &.services {
        list-style-type: circle;
        li {
          margin-bottom: 10px;
        }
      }
    }
    @media only screen and (max-width: $desktop) {
      p.lead {
        padding: 0;
        width: 100%;
      }
    }
    .india {
      display: grid;
      background: #f2f2f2;
      padding: 16px;
      @media only screen and (min-width: $tablet) {
        padding: 80px 0px;
        padding-left: 80px;
        padding-right: 42px;
        font-size: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      & h2 {
        text-align: left;
        font-size: 36px;      
        @media only screen and (min-width: $tablet) {
          font-size: 44px;
        }
      }
      & p {
        font-size: 16px;
        margin: 16px 0px 30px 0px !important;
        @media only screen and (min-width: $tablet) {
          margin: 16px 0px 36px 0px !important;
          font-size: 20px;
        }
      }
      .download-btn {
        padding: 1rem;
        border-radius: 6px;
        font-size: 16px !important;
        background: #4697d5;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),
          0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        color: #ffffff !important;
        width: 100%;
        @media only screen and (min-width: $tablet) {
  
        }
      }
      & img {
        margin-top: 30px;
        @media only screen and (min-width: $tablet) {
          margin-top: 0px;
        }
      }
    }
    @media only screen and (max-width: $phone) {
      h2 {
        font-size: 36px;
        margin: 0;
      }
      h3 {
        margin: 0;
        padding-bottom: 50px;
        text-align: left;
      }
      h6 {
        text-align: left !important;
      }
      &.dark {
        h5 {
          font-size: 16px;
        }
      }
      .p-5 {
        padding: 25px 0px !important;
      }
      .bg-light,
      .bg-gray {
        background: white !important;
      }
      .about-us {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
      }
      div.team {
        height: 300px;
        width: 300px;
      }
      ul {
        &.apps {
          margin: 50px auto 20px;
          li {
            img {
              height: 30px;
              margin: 0 15px 30px;
            }
          }
        }
        &.bars {
          li {
            height: 60px;
            margin: 0 0 10px !important;
            width: 100%;
          }
        }
        &.faqs {
          border: none;
          border-bottom: 1px solid #eaeaea;
        }
        &.services {
          margin-left: 10px;
        }
      }
      div.w-75 {
        width: 100% !important;
      }
      div.border {
        border: none !important;
        border-bottom: 1px solid #ddd !important;
      }
    }
  }
}
